<h1>Twoi znajomi (<%= current_user.contacts.count %>):</h1>
<ul>
	<% @contacts.each do |contact| %>
	    <% conn = Connection.conn(current_user, contact) %>
		<li>
			<%= gravatar_for contact, :size => 50 %>                    
			<%= link_to "#{contact.name} #{contact.surname}", contact %>
		 	<% form_for(conn) do |f| %>
				<%= f.submit "Anuluj", :class => "abort", :confirm => "Usunąć znajomość?" %>
			<% end %><br />
			<% if contact.locations != [] %>
				<%= contact.locations.first.title %> 
		    <% else %>
				Nie dodano żadnych lokacji
			<% end %>
		</li>
	<% end %>
</ul>