<ul>
	<% @requested_contacts.each do |contact| %>
	    <% conn = Connection.conn(current_user, contact) %>
		<li>
			<%= gravatar_for contact, :size => 30 %>
			<p>
			<%= contact.name %> 
			<%= contact.surname %>                              
			</p>  
			
			<% form_for(conn) do |f| %>
				<%= f.submit "Akceptuje", :class => "accept" %>
				<%= f.submit "Odrzucam", :id => nil, :class => "abort", :confirm => "Odrzucić zaproszenie?" %>     
			<% end %>           
		</li>
	<% end %>
</ul>