<div id="main">
<div class="box">
	<h1 class="plain">Aktualizuj swoje dane</h1>  
	<p>Pamiętaj by wpisać hasło po zakończeniu edycji.</p>
</div>
   
<div class="box" id="search">     
	<h2 class="plain">Miejsce domowe</h2>
	<p>Wyszukaj adres i kliknij na mapie by upuścić marker.</p>
<form id="geo" action="#" onsubmit="skoczDoAdresu(document.getElementById('szukanyAdres').value); return false;">
	<input type="text" id="szukanyAdres" value="Szukany adres" 
		onblur="if (this.value == '') {this.value = 'Szukany adres';}" onfocus="if (this.value == 'Szukany adres') {this.value = '';}" />
	<input type="submit" value="Pokaż na mapie" class="button" />    				
</form>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.2&amp;sensor=false&amp;region=pl"></script>                                      

<script type="text/javascript">   
		<!--    
			var mapa; // obiekt globalny			
			var dymek = new google.maps.InfoWindow();
			var marker = new google.maps.Marker({
				// draggable:true,
			});
			var geokoder = new google.maps.Geocoder();   
			var contentString = "a";
			var infowindow = new google.maps.InfoWindow({
			    content: contentString
			});
						
			function mapaStart()  
			{  
				var wspolrzedne = new google.maps.LatLng(52.143602398455315,19.23980712890625);
				var opcjeMapy = {
					zoom: 6,
					center: wspolrzedne,
					mapTypeId: google.maps.MapTypeId.HYBRID,
					mapTypeControl: true
				};
				
				mapa = new google.maps.Map(document.getElementById("map"), opcjeMapy); 			
				
				google.maps.event.addListener(mapa,'click',function(zdarzenie)
				{
					if(zdarzenie.latLng)	
					{ 
						marker.setPosition(zdarzenie.latLng);
						marker.setMap(mapa);	
						// infowindow.open(mapa,marker);																			
						document.getElementById('user_home_latitude').value = zdarzenie.latLng.lat();
						document.getElementById('user_home_longitude').value = zdarzenie.latLng.lng();
					}
				});
			}         
			
			
			
			
			function skoczDoAdresu(adres)
			{
				marker.setMap(null);
				geokoder.geocode({address: adres}, function(wyniki, status)
				{
					if(status == google.maps.GeocoderStatus.OK)
					{
						mapa.setZoom(19);
						mapa.setCenter(wyniki[0].geometry.location);   
					}
					else
					{
						alert("Nie znalazłem podanego adresu!");
					}
				});
			}
			
			function obslugaGeokodowania(wyniki, status)
			{
				
			}
			
			  
			
		-->
</script> 



<div id="map" style="height: 450px; width: 100%"></div>        
<script type="text/javascript">
mapaStart();
</script>


<%= form_for(@user) do |f| %>     
    
	<div class="field hidden">
	    <%= f.text_field :home_latitude, :readonly => true %><%= f.text_field :home_longitude, :readonly => true %>
	 </div>   
	
	</div>  
	
	<div class="box">   
	<h2>Dane osobowe</h2>
	<%= render 'fields', :f => f %>   
	
	

  <div class="actions">
    <%= f.submit "Aktualizuj" %><br><br>
  </div>           
	
	</div>
	
<% end %>
</div>         


<div id="side">  
	
	<h3>Twój avatar</h3>
	<p><%= gravatar_for current_user, :size => 180 %><br/>Aktualnie Jetu obsługuje jedynie Gravatary, ustaw swój Gravatar <a href="http://pl.gravatar.com/" target="_blank">tutaj</a>.<br/ ><br/ ></p>
	
	<h3>Miejsce domowe</h3>
	<p>W widoku mapy pozwala jednym kliknięciem zadokować swój marker w pozycji ustalonej jako miejsce domowe. Przykładowo - jeżeli ostatni marker jaki dodaliśmy znajduje się w kawiarni a jesteśmy już w domu przy komputerze wystarczy nacisnąć "Jestem w domu!" by system sam ustawił naszą pozycję na miejsce domowe.</p>
	
</div>
     
     

