<div id="main">        
	                  
  
<%= render 'find' %>        

<div class="box" id="friends"> 
<%= render 'connections/contacts' %>    
</div>                                  



<% if current_user.admin? %>
<div style="clear: both">
<% people = User.all %>

	<% people.each do |person| %>
		<%= person.name %> <%= person.surname %>, 
	<% end %>
</div>
<% end %>              
               


</div>



<div id="side">                                            
<h3>Zapraszają Cię:</h3>  
<% if current_user.requested_contacts.count == 0 %>       
   	Brak nowych zaproszeń.<br /><br />
<% else %>                  
	<%= render 'connections/requests' %>
<% end %>                           

<h3>Wysłane zaproszenia:</h3>    
<% if current_user.pending_contacts.count == 0 %>       
	Nie wysłano żadnych zaproszeń.
<% else %>  
	<%= render 'connections/pending' %>  
<% end %>                         
</div>

