<div id="main">
  
<%= gravatar_for @user, :size => 100 %><br />
<%= @user.name %> <%= @user.surname %> ma <%= @user.locations.count %> dodanych lokacji.<br><br> 

<h1>Ostatnio zalogowany tutaj:</h1>

<% if @user.locations.empty? %>
	Żadnych dodanych lokacji.
<% else %>
	<%= render 'map' %>
<% end %>

<% unless @user.locations.empty? %>
	<ul>
		<%= render @locations %>
	</ul>
<% end %>

</div>
