<div class="box">
<h1>Ostatnie zmiany w statusach Twoich znajomych</h1>	
	
<% if User.feed(current_user).empty? %>     
	Nikt jeszcze nic nie dodał.
<% else %>	
	<ul id="locations" class="big">
	<% @events.each do |event| %>
        <li>
		<%= gravatar_for event.user, :size => 30 %>                           
		<strong><%= link_to "#{event.user.name} #{event.user.surname}", event.user %></strong><p>
		<%= link_to "#{event.title}", event %>&nbsp;<%= truncate(event.description, :length => 50) %><%= time_ago_in_words(event.created_at) %> temu.</p>
        </li>
	<% end %>
	</ul>
<% end %>      
</div>