<%= form_for @location do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.text_field :title %>
		<%= f.label :title %>
	</div>
	<div class="field">
		<%= f.text_area :description %>
		<%= f.label :description %>
	</div>
	<div class="field hidden">
		<%= f.label :latitude %>
		<%= f.text_field :latitude, :readonly => true  %>
	</div>
	<div class="field hidden">
		<%= f.label :longitude %>
		<%= f.text_field :longitude, :readonly => true %>
	</div>
	<div class="actions">
		<%= f.submit "Dodaj lokacje" %>
	</div>
<% end %>