<li>
	Tytuł miejsca: <%= location.title %><br />
	Opis czynności: <%= location.description %><br />
	Szerokość geograficzna: <%= location.latitude %><br />
	Długość geograficzna: <%= location.longitude %><br />
	Dodano: <%= time_ago_in_words(location.created_at) %> ago<br>
	--
</li>