<div id="header" class="block">
	<%= link_to "Jetu.pl", root_path, :id => "logo" %>
	<ul class="menu">
		<li><%= link_to "Start", root_path %></li>
		<li><%= link_to "Wkręć się", about_path %></li>
		<li><%= link_to "Zaloguj się", login_path %></li>
		<li><%= link_to "Załóż konto", signup_path %></li>
	</ul>
</div>