<div id="header">
	<%= link_to "Jetu.pl", root_path, :id => "logo" %>
	<div class="userInfo">
		<%= gravatar_for current_user, :size => 25 %>
		Hej <%= link_to "#{current_user.name}!", current_user %>
	</div>    
	<ul class="menu">
		<li><%= link_to "Mapa", root_path %>
		<li><%= link_to "Ludzie", users_path %>
		<li><%= link_to "Ustawienia", edit_user_path(current_user) %>
		<li><%= link_to "Wyloguj się", logout_path, :method => :delete %></li>
	</ul>
</div>   

    <% if @page_id == "map" or @page_id == "map_add" %>
	<div id="subHeader">     
		<% if @page_id == "map"%>   
			
			
			<%= link_to "Dodaj lokalizację", new_location_path, :class => "button" %>    
			<form action="#" style="float: right">
				<input type="text" id="szukanyAdres" value="Szukaj znajomych na mapie" 
					onblur="if (this.value == '') {this.value = 'Szukaj znajomych na mapie';}" onfocus="if (this.value == 'Szukaj znajomych na mapie') {this.value = '';}" />
				<input type="submit" value="Szukaj" class="button" />    				
			</form>
			
			<% if User.home?(current_user, current_user.locations.first) %>
				W domu
			<% else %>
				&nbsp; Aktualnie: <%= @actuall_location.title %>
				
				<% form_for current_user.locations.build(
					:user_id => current_user.id,
				    :title => "W domu",
				    :description => "Lokalizacja dodana atuomatycznie po powrocie do domu",
				    :latitude => current_user.home_latitude,
				    :longitude => current_user.home_longitude), do |f| %>
				
					<%= f.hidden_field :user_id %>
					<%= f.hidden_field :title %>
					<%= f.hidden_field :description %>
					<%= f.hidden_field :latitude %>
					<%= f.hidden_field :longitude %>
					    
				    <%= f.submit "Wróciłem!", :class => :button %>
				
				<% end %>
				
			<% end %>
			
		<% else %> 
			<form id="geo" action="#" onsubmit="skoczDoAdresu(document.getElementById('szukanyAdres').value); return false;">
				<input type="text" id="szukanyAdres" value="Szukany adres" 
					onblur="if (this.value == '') {this.value = 'Szukany adres';}" onfocus="if (this.value == 'Szukany adres') {this.value = '';}" />
				<input type="submit" value="Pokaż na mapie" class="button" />    				
			</form>	   
			<%= link_to "Anuluj dodawanie", root_path %> 	    	
		<% end %>
	</div>                   
	<% end %>