<div id="header">
	<%= link_to "Jetu.pl", root_path, :id => "logo" %>
	<div class="userInfo">
		<%= gravatar_for current_user, :size => 25 %>
		Hej <%= link_to "#{current_user.name}!", current_user %>
	</div>    
	<ul class="menu">
		<li><%= link_to "Mapa", root_path %></li>         
		<li><%= link_to "Aktualności", feed_path %></li> 
		<li><%= link_to "Ludzie", users_path %><span class='info'><%= contacts_notifications %></span></li>
		<li><%= link_to "Ustawienia", edit_user_path(current_user) %></li>
		<li><%= link_to "Wyloguj się", logout_path, :method => :delete %></li>
	</ul>
</div>   

	<% if @page_id == "map"%>
			<div id="subHeader">       
				                    
				    	<% if current_user.locations != [] %>      
					
									<%= link_to "Aktualnie: #{@actuall_location.title}", @actuall_location, :class => :button, :id => :current_location %>  
						
									<% unless User.at_home?(current_user, @actuall_location) %>
											
											<% if User.has_home?(current_user) %>
													<% form_for current_user.locations.build(
													:user_id => current_user.id,
												    :title => "W domu",
												    :description => "Lokalizacja dodana automatycznie po powrocie do domu",
												    :latitude => current_user.home_latitude,
												    :longitude => current_user.home_longitude) do |f| %>
													<%= f.hidden_field :user_id %>
													<%= f.hidden_field :title %>
													<%= f.hidden_field :description %>
													<%= f.hidden_field :latitude %>
													<%= f.hidden_field :longitude %>					    
												    <%= f.submit "Jestem w domu!", :class => :button, :id => :comeback %>
													<% end %>   
											<% end %>                                             
				
									<% end %>          
								  
					  	<% end %>		  
					
					
						<% if current_user.home_latitude.blank? %>     						
							<%= link_to "Ustaw lokację domową", edit_user_path(current_user), :class => :button, :id => :set_home %>  
						<% end %>        
					
					
						<% if current_user.locations.first.blank? %>
							
							<% if User.has_home?(current_user) %>
									<% form_for current_user.locations.build(
									:user_id => current_user.id,
								    :title => "W domu",
								    :description => "Lokalizacja dodana automatycznie po powrocie do domu",
								    :latitude => current_user.home_latitude,
								    :longitude => current_user.home_longitude) do |f| %>
									<%= f.hidden_field :user_id %>
									<%= f.hidden_field :title %>
									<%= f.hidden_field :description %>
									<%= f.hidden_field :latitude %>
									<%= f.hidden_field :longitude %>					    
								    <%= f.submit "Jestem w domu!", :class => :button, :id => :comeback %>
									<% end %>   
							<% end %>
							
						<% end %>                   
						
						<%= link_to "Dodaj nową lokalizację", new_location_path, :class => :button %>						
					
						<% if current_user.contacts == [] %>
							<%= link_to "Zaproś znajomych!", users_path, :class => :button, :id => :invite %>   
						<% end %>    
						
						<% if current_user.contacts.count != 0 %>
						<div id="mapSettings" style="float: right">     
							Widok: <a href="#" onclick="showClosest()">Okolice</a> | <a href="#" onclick="showEveryone()">Wszyscy znajomi</a>
						</div>                               
						<% end %>
								           
			</div>                   
	<% end %>