<!DOCTYPE html>
<html>
  	<head>
    	<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag :defaults %>
	</head>
	
	<body>
		<div class="<%= container_size %>">
			
			<%= show_header %>
			
			<div id="content" class="block">
				<% unless signed_in? %>
					<% flash.each do |key, value| %>
					  <div class="flash <%= key %>"><%= value %></div>
					<% end %>
				<% end %>
				
				<%= yield %>
			</div>
		</div>
  	</body>
</html>