<!DOCTYPE html>
<html>
  	<head>
    	<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<% unless @page_id == "landing" %>	
			<%= javascript_include_tag :defaults %>      
		<% end %>
	</head>
	
	<body <%= body_class %>>
		
		<div class="<%= container_size %>">
			
			<%= show_header %>
			                  
			<% flash.each do |key, value| %>
			  	<div class="flash <%= key %>" id="notice"><%= value %></div>    
				<%= content_tag :script, :type => "text/javascript" do -%>
			        setTimeout("new Effect.Fade('notice');", 3000);
			    <% end %>     
			<% end %>
			
			<div id="content">				
				<%= yield %>
			</div>
			
			<% unless @page_id == "map" %>
				<div id="footer">
					Copyright Jetu.pl! kontakt@jetu.pl
				</div>                     
			<% end %>            
			
		</div>
  	</body>
</html>